body {
    font-family: Arial;
    font-size: 18px;
}
div#main {
    overflow: hidden;
    width: 900px;
    margin: 0 auto;
    background-color: #EDEDED;
}
.center {
	text-align: center;
}
.col {
    float: left;
    width: 50%;
    overflow: hidden;
}

/* =====================
        HEADER
===================== */
header {
    text-align: center;
    background-color: #ED0E0E;
    color: #fff;
}
#header img {
    height: 80px;
    margin: 30px;
}

/* =====================
        STATUS
===================== */
#status {
    float: right;
    margin: 10px 15px 0 0;
}
.circle {
    width: 15px;
    height: 15px;
    border-radius: 100%;
    display: inline-block;
    vertical-align: middle;
}
.bg-red {
    background: red;
}
.bg-green {
    background: green;
}
#status-indicator {
    transition: 0.5s all;
}
#status-desc {
    font-size: 14px;
    display: inline-block;
}

/* =====================
        TITLES
===================== */
h1, h2 {
	font-family: 'Chelsea Market';
}
h1 {
    font-size: 70px;
    padding: 30px 0;
}
h2 {
    padding: 10px 0;
    font-size: 35px;
    color: #ED0E0E;
}

/* =====================
        BUTTONS
===================== */
.button {
    display: inline-block;
    margin: 15px;
    padding: 8px 30px;
    
    border: 2px solid black;
    background-color: #c0c0c0;
    color: #ED0E0E;
    
    font-family: 'Chelsea Market';
    font-size: 25px;
    text-decoration: none;
    
    transition: all .4s;
    cursor: pointer;
}
.button:hover {
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    color: green;
}

/* =====================
        ANSWERS
===================== */
#answers {
    float: left;
    width: 100%;
    margin: 0;
}
#left-answers {
    float: left;
    width: 50%;
}
#left-answers > div {
    float: right;
    margin-top: 40px;
    margin-right: 50px;
}
#right-answers {
    float: left;
    width: 50%;
}
#right-answers > div {
    margin-top: 40px;
}
.number {
    display: inline-block;
    width: 150px;
    height: 150px;
    text-align: center;
    margin-right: 15px;
    color: #fff;
    background-color: #CF000F;
    transition: all .3s;
}
.number.red {
    background-color: #CF000F;
}
.number.green {
    background-color: #00B16A;
}
#left-answers .number:hover {
    margin-right: 20px;
}
#right-answers .number:hover {
    margin-left: 10px;
}
.number span {
    line-height: 150px;
    vertical-align: middle;
    font-family: 'chelsea market';
    font-size: 60px;
}
.people {
    display: inline-block;
    vertical-align: middle;
    font-size: 30px;
    line-height: 60px;
    font-family: 'Arial';
    text-align: left;
}

/* =====================
        SUMMARY
===================== */

#summary .col {
	margin: 50px 0 30px 0;
}
#summary .left {
    border-right: 2px solid black;
    
    text-align: center;
}
#summary .left div {
	padding: 10px;
	font-size: 20px;
}
input {
	font-size: 20px;
    height: 20px;
}

/* =====================
        CHART
===================== */
#right_col {
    float: left;
    width: 50%;
    box-sizing: border-box;
    overflow: hidden;
    text-align: center;
    margin-bottom: 40px;
    font-family: 'Arial';
}
